apiVersion: v1
kind: Service
metadata:
  name: lb-service
spec:
  type: LoadBalancer
  selector:
    app: node-app   # should match the labels in your Deployment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
